  <footer>
    <div class="o-container">
      <div class="panel">
        <div class="footer-logo">
          <a href="#"><img src="{{ url('<front>') }}themes/maxsolid/img/footer-logo.svg" alt="maxsolution"></a>
        </div> <!-- .footer-logo -->
      </div> <!-- .panel -->
      <div class="panel">
        <ul class="footer-menu footer-contact">
          <li><a href="#">business@maxsol.id</a></li>
          <li><a href="tel:nomer">+62 821-4468-2010</a></li>
        </ul>
        <ul class="footer-menu footer-social">
          <li><a href="{{ fb_url }}"><img src="{{ url('<front>') }}themes/maxsolid/img/social/social-facebook.svg" alt="Follow us on Facebook!"></a></li>
          <li><a href="#"><img src="{{ url('<front>') }}themes/maxsolid/img/social/social-twitter.svg" alt="Follow us on Twitter!"></a></li>
          <li><a href="#"><img src="{{ url('<front>') }}themes/maxsolid/img/social/social-linkedin.svg" alt="Follow us on LinkedIn!"></a></li>
        </ul>
      </div> <!-- .panel -->
    </div> <!-- .o-container -->
  </footer>